@font-face {
    font-family:'Raleway-Italic';
    src: url('./fonts/Raleway-Italic-VariableFont_wght.ttf');
}
/*В HTML файле, который ты сверстал на предыдущем
 этапе, для главного тега <body> задай 
 какой-нибудь нейтральный цвет фона, 
 занули внешние отступы, задай внутренние 
 отступы справа и слева по 10%, подключи с 
 помощью правила @font-face шрифт, который
 будет использоваться для всего текста 
(кроме заголовков) и задай размер шрифта*/
body {
    background-color: rgba(247, 218, 207, 0.918);
    font-family: 'Raleway-Italic', serif;
    font-size: 20px;
    margin: 0;
    padding-left: 10%;
    padding-right: 10%;

}
/*Всем первым потомкам внутри 
боди задай внешний отступ*/
body * {
    margin: 20px;
}
/*Для заголовков первого и второго уровня
 задай шрифт, который предварительно подключи
  в <head> с помощью <link rel="stylesheet"*/
h1 , h2 {
    font-family: 'Amatic SC', cursive;
}
/*Для заголовка первого уровня задай размер 
шрифта, жирность шрифта, межбуквенное расстояние,
 высоту строки и цвет текста. 
 Любые значения, которые тебе нравятся*/
h1 {
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 3px;
    line-height: 20px;
    color:rgb(109, 108, 102);
}
/*Картинке (фото) задай размеры, рамку или тень
 что больше нравится) и тоже внешний отступ 
 снизу*/
.avatar {
    height: 300px;
    margin-bottom: 50px;
    border: 3px solid rgb(98, 97, 100);
    box-shadow: 0 10px 10px rgba(0,0,0,0.5)
}
/*Для заголовков второго уровня задай те же 
свойства, что и для заголовка первого уровня,
 но с другими значениями*/
h2 {
    font-size: 35px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 15px;
    color:rgb(53, 52, 50);
}
/*Тексту (о себе) задай ширину так, чтобы 
получилось минимум 2 строки и сделай красную
 строку*/
.aboutme {
    width: 70%;
    text-indent: 30px;
}
/*размер/внутренний отступ/границу/тень/
цвет фона или текста и внешний отступ снизу*/
.choice {
    height: 40px;
    width:80px;
    padding:5px ;
    border:2px dotted rgb(98, 97, 100);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    background-color: rgb(228, 221, 213);
    margin-bottom:30px ;
}
/*Для маркированного списка вместо маркера
установи иконку/картинку и сделай первый
 элемент списка другим цветом*/
 ul {
    list-style-image: url('./japan.png');
 }
.anime {
    color: rgb(55, 100, 100);
}
/*Для нумерованного списка сделай второй 
элемент другим цветом*/
.food {
    color: rgb(219, 179, 46);
}
/*Полю для ввода текста задай внутренние отступы,
 ширину, высоту и скругление углов.Сделай так,
  чтобы при наведении на него
 вокруг появлялась тень, а когда установлен 
 курсор - появлялась рамка любого цвета,
 типа и размера.*/
.vibor {
    padding: 5px;
    height: 20px;
    width: 100px;
    border-radius: 5px;
}
.vibor:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
.vibor:active {
    border: 2px dotted rgb(98, 97, 100);
}
/*Ссылке задай цвет текста, убери подчеркивание
и убери подчеркивание снизу. Сделай так, 
 чтобы при наведении мышкой на ссылку, цвет 
 текста менялся на любой друго*/
.link {
    color: rgb(104, 85, 1);
    text-decoration: none;
}
.link:hover {
    color: rgb(248, 135, 28);
}
/*В таблице выровняй заголовки посередине 
и задай какой-нибудь цвет фона для них.
Объедини рамки в одну линию и задай им другой
 тип, цвет и размер. Добавь внутренние отступы 
 для ячеек таблицы*/

 .tabl {
     background-color: rgb(255, 252, 241);
     text-align:center;
     border-collapse:collapse;
     border:3px solid rgb(98, 97, 100);
 }
 td {
    padding: 5px;
    padding-left: 6px;
  }
  /*Кнопке в качестве фона сделай градиент
    Сделай текст кнопки заглавными буквами с 
    помощью CSS. Добавь внутренний отступ и
    закругли края. Можешь добавить тень или 
    другие стили на свой вкус. При наведении 
    кнопка должна становиться чуть-чуть
     прозрачной (opacity)*/

.but {
    background: radial-gradient(#f3efcc, #d4c6d5);
    text-transform: uppercase;
    padding: 2px;
    border-radius:3px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.3);
}
.but:hover {
    opacity: 0.4;
    transition: 0.35s;
  }
